.reveal .progress { height: 10px; }
img.no-border{border: none !important;}
blockquote:before {
  content: '“';
}
blockquote:after {
  content: '‟';
}
authorstmt .small {
  font-size: 0.5em !important;
  display: inline !important;
}
.reveal a:hover {
    color: violet;
}
.reveal section img {
    border: initial;
    box-shadow: initial;
}

/* customization */
.reveal h2,
.reveal h3 {
  margin-bottom: 40px !important;
}

.reveal ul {
  list-style-type: circle !important;
}

.reveal h2#eurise-network {
  margin-bottom: 0;
}

.reveal authorstmt {
  margin-top: 50px;
  font-size: smaller;
  font-weight: lighter;
  display: block;
}

#overview + ul {
  list-style-type: arabic-indic;
}
