.reveal .progress { height: 10px; }
img.no-border{border: none !important;}
blockquote:before {
  content: '“';
}
blockquote:after {
  content: '‟';
}
.small {
  font-size: 0.5em !important;
}

.reveal .slides > section.past,
.reveal .slides > section.future,
.reveal .slides > section > section.past,
.reveal .slides > section > section.future,
.reveal .slides > section.present,
.reveal .slides > section > section.present {
    top: 30px !important;
}

.reveal .wide {
  margin-left: -15px;
  margin-top: -90px;
  max-width: none;
}

.reveal a:hover {
    color: #458aa1;
}
.reveal section img {
    border: initial;
    box-shadow: initial;
}

.reveal .controls-arrow, .reveal .progress {
  color: #7fadbd !important;
}

.reveal .progress {
  background: #edf5f7;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4,
.reveal h5, .reveal h6, .reveal p, .reveal ul,
.reveal block, .reveal center, .reveal ol {
  font-family: "Raleway", sans-serif;
  font-weight: 1;
}

h2 {
  text-align: left;
}

#title-img {
  margin-top: -90px;
  margin-bottom: -30px;
  margin-left: -55px;
  height: 329px;
  max-width: none;
}

.reveal h1,
.reveal h2,
.reveal em {
    border-bottom: 1px solid #7fadbd;
}

.reveal h1 {
  font-size: 3em;
}

.reveal h2 {
  font-size: 1.5em;
  padding-left: 35px;
  margin-bottom: 50px;
}

.reveal ul {
  font-size: 0.9em;
  list-style-type: circle;
}

.reveal ul ul {
  font-size: 0.8em;
}

.reveal ul ul li:first-of-type {
  margin-top: 15px;;
}

.reveal li {
  margin-bottom: 25px;
}

#lido-und-konda {
  font-size: 1.9em;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 50px;
}

#author-name {
  font-size: 0.6em;
  margin-top: 35px;
}

#institution-name {
  font-size: 0.5em
}

#ddk-img {
  height: 55px;
}

#fmi-img {
  height: 55px;
}

#marburg-img {
  height: 55px;
}

#goettingen-img {
  height: 55px;
  width: 530px;
}

#bmbf-img {
  position: relative;
  height: 55px;
}

#rembrandt-img {
  height: 255px;
}

#vielen-dank-f-r-ihre-aufmerksamkeit-{
  text-align: center;
  padding-left: 0;
}

#title-page {
  top: 0 !important;
}

#thank-note {
  top: 223.5px !important;
}

.reveal bold,
.reveal strong {
  font-weight: 400;
  color: #7fadbd;
}

.reveal em {
  font-style: normal;
}

.reveal .slides > section,
.reveal .slides > section > section {
  padding: 20px 5px;
}

.reveal block {
  display: block;
  text-align: left;
  margin-top: 50px;
}

.reveal .loose {
  margin-bottom: 30px;
}

.reveal #gitlab {
  font-size: medium;
  margin-top: -20px;
}

.reveal #date {
  font-size: medium;
  margin-top: -60px;
}

.reveal i {
  font-style: italic;
}

.reveal block {
  display: block;
  text-align: left;
}

.reveal center {
  margin-top: 100px;
}
