.reveal .progress { height: 10px; }
img.no-border{border: none !important;}
blockquote:before {
  content: '“';
}
blockquote:after {
  content: '‟';
}

.reveal a:hover {
    color: violet;
}
.reveal section img {
    border: initial;
    box-shadow: initial;
}

.reveal pre code {
  margin-top: 100px;
}

.reveal h1,
.reveal h2,
.reveal h3 {
  margin-bottom: 70px;
}
